<h2 class="page-header">Login</h2>

<form [formGroup]="loginForm"
  (ngSubmit)="onLoginSubmit()"
  >

  <div class="form-group">
    <label for="username">Username</label>

    <input type="text" name="username" class="form-control"
      id="username"
      placeholder="Enter your username"
      formControlName="username"
      >
  </div>

  <div class="form-group">
    <label for="password">Password</label>

    <input type="password" name="password" class="form-control"
      id="password"
      placeholder="Enter your password"
      formControlName="password"
      >
  </div>

  <button [disabled]="loginForm.invalid"
    type="submit"
    class="btn btn-primary"
    name="login"
    >Login
  </button>
  or

  <a class="btn btn-info" role="button" routerLink="/register">Register</a>

</form>
