.chat-container {
  border: none;
  margin-top: -21px;
  margin-bottom: 0;

  .msg-container {
    padding-bottom: 120px;
    height: calc(100vh - 126.67px);
    overflow-y: scroll;
  }

  form .input-group {
    width: 100%;
  }
}
