<div class="container">
  <div class="panel panel-primary chat-container">
    <div class="panel-body msg-container">
      <app-message *ngFor="let message of messageList" [message]="message"></app-message>
    </div>

    <div class="panel-footer">
      <form [formGroup]="sendForm"
        (ngSubmit)="onSendSubmit()"
        >

        <div class="input-group">
          <input type="text"
            class="form-control"
            placeholder="Type your message..."
            id="message"
            name="message"
            formControlName="message"
            autofocus="true"
            autocomplete="off"
            >

          <span class="input-group-btn hidden-xs">
            <button [disabled]="sendForm.invalid" type="submit" class="btn btn-primary" name="send">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>

</div>
