@import "../../../assets/sass/to-import.scss";

.navbar-default {
  @include box-shadow($x: 0px, $y: 2px, $blur: 10px);

  a.navbar-brand {
    padding: 11px 15px;

    span {
      margin-right: 4px;
    }
  }
}
