@import "../../../assets/sass/to-import.scss";

.navbar-default {
  @include box-shadow($x: 0px, $y: 2px, $blur: 10px);

  a.navbar-brand {
    padding: 13px 15px;

    span {
      margin-right: 4px;
    }
  }
}

#chatWith {
  font-size: 18px;
  padding: 20px 15px;
  float: right;
  max-width: calc(100vw - 210px);
  overflow: hidden;

  &:hover {
    color: #ffffff;
  }

  &.hidden-atw {
    @media only screen and (min-width: 768px) {
      display: none !important;
    }
  }
}
